<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="apple-touch-icon" sizes="180x180" href="foto/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="foto/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="foto/favicon/favicon-16x16.png" />
    <link rel="manifest" href="foto/favicon/site.webmanifest" />
    <link rel="mask-icon" href="foto/favicon/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="theme-color" content="#000000" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/animate.css" />
    <link rel="stylesheet" href="css/fancybox-main.css" />
    <link rel="stylesheet" href="css/slick.css" />
    <link rel="stylesheet" href="css/owl.carousel.css" />
    <title>Lorem ipsum dolor sit amet</title>
  </head>
  <body>

  <!-- header start -->

  <header>
    <div class="header_in">
        <div class="header_in__list">
            <div class="header_in__item">
                <section class="container_in">
                    <div class="header_in__item__list">

                        <div class="header__logo">
                            <a href="index.html">
                              <picture>
                                <source srcset="foto/logo.svg"media="(max-width:1050px)">
                                <img src="foto/logoBlick.svg" alt="logoBlick">
                              </picture>
                            </a>
                        </div>

                        <ul class="header__locales">
                            <li>
                              <a href="#!" class="header__locales__link active">uz</a>
                            </li>
              
                            <li>
                              <a href="#!" class="header__locales__link">ru</a>
                            </li>
              
                            <li>
                              <a href="#!" class="header__locales__link">en </a>
                            </li>
                        </ul>

                    </div>
                </section>
            </div>

            <div class="header_in__item">
                <section class="container_in">
                    <div class="header_in__item__list">

                        <ul class="header_in__menu">
                            <li>
                                <a href="SandwichPortfolio.html" class="header_in__menu__link">Портфолио</a>
                            </li>

                            <li>
                                <a href="SandwichPortfolio_in.html" class="header_in__menu__link">Lorem ipsum dolor sit amet 75мм</a>
                            </li>
                        </ul>

                        <button class="header__burger__menu">
                            <i class="fas fa-bars"></i>
                        </button>
              
                        <div class="header__menu">
                          <ul class="header__locales">
                            <li>
                              <a href="#!" class="header__locales__link active">uz</a>
                            </li>
              
                            <li>
                              <a href="#!" class="header__locales__link">ru</a>
                            </li>
              
                            <li>
                              <a href="#!" class="header__locales__link">en </a>
                            </li>
                          </ul>
                          <button class="header__menu__none">
                            <i class="fas fa-times"></i>
                          </button>
                          
                          <ul class="header__menu__list">
                            <li class="header__menu__item wow">
                              <a href="#!" class="header__menu__link">Сэндвич панели</a>
                              <ul class="header__none__menu">
                                <li>
                                  <a href="SandwichProducts.html" class="header__none__link">Продукция</a>
                                </li>
            
                                <li>
                                  <a href="SandwichPortfolio.html" class="header__none__link">Портфолио</a>
                                </li>
                              </ul>
                            </li>
            
                            <li class="header__menu__item wow">
                              <a href="#!" class="header__menu__link">Металлоконструкции</a>
                              <ul class="header__none__menu">
                                <li>
                                  <a href="SandwichProducts.html" class="header__none__link">Продукция</a>
                                </li>
            
                                <li>
                                  <a href="SandwichPortfolio.html" class="header__none__link">Портфолио</a>
                                </li>
                              </ul>
                            </li>
            
                            <li class="header__menu__item wow">
                              <a href="#!" class="header__menu__link">Кисловодск</a>
                              <ul class="header__none__menu">
                                <li>
                                  <a href="SandwichProducts.html" class="header__none__link">Продукция</a>
                                </li>
            
                                <li>
                                  <a href="SandwichPortfolio.html" class="header__none__link">Портфолио</a>
                                </li>
                              </ul>
                            </li>
            
                            <li class="header__menu__item wow">
                              <a href="#!" class="header__menu__link">Кабельные лотки</a>
                              <ul class="header__none__menu">
                                <li>
                                  <a href="SandwichProducts.html" class="header__none__link">Продукция</a>
                                </li>
            
                                <li>
                                  <a href="SandwichPortfolio.html" class="header__none__link">Портфолио</a>
                                </li>
                              </ul>
                            </li>
            
                            <li class="header__menu__item wow">
                              <a href="#!" class="header__menu__link">Система вентиляции</a>
                              <ul class="header__none__menu">
                                <li>
                                  <a href="SandwichProducts.html" class="header__none__link">Продукция</a>
                                </li>
            
                                <li>
                                  <a href="SandwichPortfolio.html" class="header__none__link">Портфолио</a>
                                </li>
                              </ul>
                            </li>
            
                            <li class="header__menu__item wow">
                              <a href="aboutCompany.html" class="header__menu__link">О компании</a>
                            </li>
            
                            <li class="header__menu__item wow">
                              <a href="contacts.html" class="header__menu__link">Контакты</a>
                            </li>
                          </ul>
                        </div>
                    </div>
                </section>
            </div>
            
        </div>
    </div>
    <section class="sidenav-overlay"></section>
  </header>

  <!-- header end -->

  <!-- Products start -->

  <div class="products">
    <div class="products__list">
      <div class="products__list__scrull">
        <section class="container_in">
          <div class="products__item clearfix">
            <section>
                <h2 class="products__title__h2">Lorem ipsum dolor sit amet</h2>
                <div class="products__item__text">
                    <p>
											Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem.
											At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est

                    </p>
                </div>
            </section>
          </div>
        </section>

        <div class="products__foto__video">
            <section class="container_in">
              <div class="products__foto__video__list">
                <div class="products__item__video wow active" data-item="fotoItem">
                  <div class="products__foto__img">
                    <i class="far fa-images"></i>
                  </div>
                  <h3 class="products__title__foto">Фото материалы</h3>
                </div>
                
                <div class="products__item__video wow" data-item="videoItem">
                  <div class="products__foto__img">
                    <i class="far fa-play-circle"></i>
                  </div>
                  <h3 class="products__title__foto">Видео материалы</h3>
                </div>
              </div>
            </section>
        </div>
          <section class="container_in">
            <div class="fotoVideoMideo"></div>
          </section>
      </div>
        <div class="products__item__cart">
            <div class="products__list__scrull">
                <section class="container_in">
                    <section class="products__foto__video__all">
                        <div class="products__item__list products__foto active" data-item="fotoItem">

                        <section class="products__item__wowjs wow">
                            <div class="products__list__item">
                                <a href="foto/products_2.png" data-fancybox="gallery">
                                    <div class="products__foto__item__img">
                                       <img src="foto/products_2.png" alt="gallery">
                                       <h4 class="products__foto__eye"><i class="fas fa-eye"></i></h4>
                                   </div>
                                </a>
                            </div>
                        </section>
    
                        <section class="products__item__wowjs wow">
                            <div class="products__list__item">
                                <a href="foto/products_3.png" data-fancybox="gallery">
                                    <div class="products__foto__item__img">
                                        <img src="foto/products_3.png" alt="gallery">
                                        <h4 class="products__foto__eye"><i class="fas fa-eye"></i></h4>
                                    </div>
                                </a>
                            </div>
                        </section>
    
                        <section class="products__item__wowjs wow">
                            <div class="products__list__item">
                                <a href="foto/products_4.png" data-fancybox="gallery">
                                    <div class="products__foto__item__img">
                                        <img src="foto/products_4.png" alt="gallery">
                                        <h4 class="products__foto__eye"><i class="fas fa-eye"></i></h4>
                                    </div>
                                </a>
                            </div>
                        </section>
    
                        <section class="products__item__wowjs wow">
                            <div class="products__list__item">
                                <a href="foto/products_5.png" data-fancybox="gallery">
                                    <div class="products__foto__item__img">
                                        <img src="foto/products_5.png" alt="gallery">
                                        <h4 class="products__foto__eye"><i class="fas fa-eye"></i></h4>
                                    </div>
                                </a>
                            </div>
                        </section>
    
                        </div>
    
                        <div class="products__item__list products__foto" data-item="videoItem">
                            <section class="products__item__wowjs wow">
                              <div class="products__video__item">
                                <p class="text-center">
                                    <a data-fancybox class="about__item__video" href="https://youtu.be/G4qaiWGeO5w?list=RDUWw40cW4_tg&t=2">
                                        <section>
                                          <h3 class="products__list__title__h3">Lorem ipsum dolor sit amet</h3>
                                          <img class="inline" src="foto/products_1.png" alt="videoItem"/>
                                          <!-- play start -->
                                            
                                            <div class="button__min is-play">
                                                <div class="button-outer-circle has-scale-animation"></div>
                                                <div class="button-outer-circle has-scale-animation has-delay-short"></div>
                                                <div class="button-icon is-play">
                                                    <img class="about__item__img__play" alt="All" src="foto/icons/pley.svg">
                                                </div>
                                            </div>
                                            
                                            <!-- play end -->
                                        </section>
                                    </a>
                                </p>
                              </div>
                            </section>

                            <section class="products__item__wowjs wow">
                              <div class="products__video__item">
                                <p class="text-center">
                                    <a data-fancybox class="about__item__video" href="https://youtu.be/G4qaiWGeO5w?list=RDUWw40cW4_tg&t=2">
                                        <section>
                                            <h3 class="products__list__title__h3">Duis aute irure dolor</h3>
                                            <img class="inline" src="foto/products_2.png" alt="videoItem"/>
                                            <!-- play start -->
                                            
                                            <div class="button__min is-play">
                                                <div class="button-outer-circle has-scale-animation"></div>
                                                <div class="button-outer-circle has-scale-animation has-delay-short"></div>
                                                <div class="button-icon is-play">
                                                    <img class="about__item__img__play" alt="All" src="foto/icons/pley.svg">
                                                </div>
                                            </div>
                                            
                                            <!-- play end -->
                                        </section>
                                    </a>
                                </p>
                              </div>
                            </section>

                            <section class="products__item__wowjs wow">
                              <div class="products__video__item">
                                <p class="text-center">
                                    <a data-fancybox class="about__item__video" href="https://youtu.be/G4qaiWGeO5w?list=RDUWw40cW4_tg&t=2">
                                        <section>
                                            <h3 class="products__list__title__h3">Excepteur sint occaecat</h3>
                                            <img class="inline" src="foto/products_3.png" alt="videoItem"/>
                                            <!-- play start -->
                                            
                                            <div class="button__min is-play">
                                                <div class="button-outer-circle has-scale-animation"></div>
                                                <div class="button-outer-circle has-scale-animation has-delay-short"></div>
                                                <div class="button-icon is-play">
                                                    <img class="about__item__img__play" alt="All" src="foto/icons/pley.svg">
                                                </div>
                                            </div>
                                            
                                            <!-- play end -->
                                        </section>
                                    </a>
                                </p>
                              </div>
                            </section>

                            <section class="products__item__wowjs wow">
                              <div class="products__video__item">
                                <p class="text-center">
                                    <a data-fancybox class="about__item__video" href="https://youtu.be/G4qaiWGeO5w?list=RDUWw40cW4_tg&t=2">
                                        <section>
                                          <h3 class="products__list__title__h3">Lorem ipsum dolor sit amet</h3>
                                          <img class="inline" src="foto/products_4.png" alt="videoItem"/>
                                            <!-- play start -->
                                            
                                            <div class="button__min is-play">
                                                <div class="button-outer-circle has-scale-animation"></div>
                                                <div class="button-outer-circle has-scale-animation has-delay-short"></div>
                                                <div class="button-icon is-play">
                                                    <img class="about__item__img__play" alt="All" src="foto/icons/pley.svg">
                                                </div>
                                            </div>
                                            
                                            <!-- play end -->
                                        </section>
                                    </a>
                                </p>
                              </div>
                            </section>
                        </div>
                    </section>
                </section>
            </div>

          <section class="container_in">
            <section class="products__footer">
              <div class="footer__list">
                <a href="tel:97 442 27 26" class="footer__contacts__link">
                  <span><i class="fas fa-phone"></i></span>
                  <section><p>97</p>442 27 26</section>
                </a>
    
                <h4 class="footer__title__h4">
                  © Copyright <span></span> - Web developed by <a href="https://sos.uz/" target="_blank">SOS Group</a>
                </h4>
              </div>
            </section>
          </section>
        </div>
    </div>
  </div>
  
  <!-- Products end -->

  <!-- footer start -->

  <footer>
    <div class="footer_in">
      <section class="container">
        <div class="footer_in__cart"></div>
      </section>
    </div>
  </footer>

  <!-- footer end -->
 
  <script src="js/jquery-3.6.1.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/index.js"></script>
  <script src="js/loading.js"></script>
  <script src="js/fancyapps-ui.js"></script>
  <script src="js/fancybox_main.js"></script>
  <script src="js/materialize.min.js"></script>
  <script src="js/slick.min.js"></script>
  <script src="js/owl.carousel.js"></script>
  <script src="js/slic.js"></script>
  <script> new WOW().init(); </script>
  </body>
</html>